body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}

.container {
  max-width: 300px;
  margin: auto;
}

input {
  padding: 8px;
  width: 90%;
  display: block;
  margin: 10px auto;
}

button {
  padding: 8px;
  cursor: pointer;
  margin-bottom: 16px;
}
p {
  margin-top: 16px;
}
